NEXT_PUBLIC_FIREBASE_PROJECT_ID=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
ADMIN_PASSCODE=change_this_passcode
GROQ_API_KEY=
GROQ_MODEL=llama-3.1-70b-versatile
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_REGISTRATION_DEADLINE=2026-07-11T23:59:00+05:00
NEXT_PUBLIC_FIRST_LESSON=2026-07-13T09:00:00+05:00
NEXT_PUBLIC_REFERRAL_DISCOUNT=50000
NEXT_PUBLIC_TELEGRAM=@your_username
NEXT_PUBLIC_PHONE=+998 XX XXX XX XX
